inst/doc
/doc/
/Meta/
app_demo_*
shinylive_demo_*
test_capsule*
test_pdf_capsule*
exports/
.RData
.Rhistory
dev/
.RData
.Rhistory
.DS_Store
.Rproj.user/
dev/
doc/
Meta/
_problems/
app_demo_*
shinylive_demo_*
test_capsule*
test_pdf_capsule*
exports/
*.tar.gz
*.Rcheck/
vignettes/*.html
SeRiouS_logo.png
